*.log

thumbs/

1_CV+SAMPLE OF WORK +LINKED IN +WEBSITE FREJA STEELE-TAYLOR_K1920656_PP_CV_230516(1).pdf
IR6101_250930(1).pdf
Rong Chen-L4-Portfolio2023-2024.pdf
RongChen_k2336224_Logbook_IR5101：Radical Reuse.pdf
RongChen_K2336224_Passion for Fashion_Portfolio.pdf
RongChen_K2336224_Student Bar_portfolio.pdf
